.nav-container {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

/* .activity-form {
    max-width: 400px;
    margin: 20px auto;

} */

.input-place {
    margin: 10px;
}